# Configuración para desarrollo local
DEBUG=True
SECRET_KEY=c&13kg%4%$qtaj*6)hxmfd&8peyag5ez!1-ooy4o^ot2$($i)6
ALLOWED_HOSTS=localhost,127.0.0.1
BASE_URL=http://127.0.0.1:8000

# Para producción en Railway, estas variables se configurarán automáticamente:
# DATABASE_URL=postgresql://postgres-production-4cf2.up.railway.app
# DEBUG=False
# ALLOWED_HOSTS=blog1-production-f58c.up.railway.app
# BASE_URL=https://blog1-production-f58c.up.railway.appblog1-production-f58c.up.railway.app
